/* this is not working! */
.MessageList td div{
  max-height: 30 px;
  overflow-y: hidden;
}

.User #googleSignIn{
  margin-left: 5px;
}

/* tooltips for user online status color coding on MessageList */
.tooltiptext {
  visibility: hidden;
  width: 120px;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1; 
}
.userOnline .tooltiptext {
background-color: rgb(92, 128, 92);
color: white;
}
.userOffline .tooltiptext {
background-color: #d14e45;
color: white;
}
.userOnline:hover .tooltiptext, .userOffline:hover .tooltiptext {
  visibility: visible;
}

/* Room name of MessageList */
.MessageList .RoomName {
  border-left: 8px double #17a2b8
}