/* this is not working! */
.MessageList td div{
  max-height: 30 px;
  overflow-y: hidden;
}

.User #googleSignIn{
  margin-left: 5px;
}

/* header site-name */
#App-header .letter-c {
  color: red;
}
#App-header .letter-h {
  color: blue;
}
#App-header .letter-a {
  color: yellow;
}
#App-header .letter-t {
  color: green;
}
#App-header .letter-e {
  color: purple;
}
#App-header .letter-r {
  color: orange;
}
#App-header .letter-b {
  color: aquamarine;
}
#App-header .letter-o {
  color: indigo;
}
#App-header .letter-x {
  color: maroon;
}

.RoomName {
  background-image: linear-gradient(to right, #a5e8f3, white);
}

/* tooltips for user online status color coding on MessageList */
.tooltiptext {
  visibility: hidden;
  width: 120px;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1; 
}
.userOnline .tooltiptext {
background-color: rgb(92, 128, 92);
color: white;
}
.userOffline .tooltiptext {
background-color: #d14e45;
color: white;
}
.userOnline:hover .tooltiptext, .userOffline:hover .tooltiptext {
  visibility: visible;
}

.OnlineStatus .tooltiptext {
  background-color: white;
  color: #17a2b8;
  font-size: 1rem;
  }
.num-online:hover .tooltiptext, .num-typing:hover .tooltiptext{
    visibility: visible;
  }
  
.OnlineStatus {
  font-size: 2rem;
}

/* Room name of MessageList 
.MessageList .RoomName {
  border-top: 2px solid #17a2b8;
  border-bottom: 2px solid #17a2b8
} */

#roomsProper {
/* .RoomList { */
  border-left: 1px solid #17a2b8;
  border-right: 1px solid #17a2b8;
}
.RoomList .list-group-item {
  padding-top: 2px;
  padding-bottom: 2px;
}

.RoomList .list-group-item.active {
  background-color: #17a2b8;
}

.newMessage {
  margin-left: 8%;
  width: 55%;
}
